.Archivos {
    height: 50vh;
    border: 2px dashed #007BFF;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }
  
  .Archivos-dragging {
    background-color: #f0f0f0;
  }
  
  .Archivos-label {
    font-size: 26px;
    color: #007BFF;
  }
  
  #file-input {
    display: none;
  }

  .SelectedImage {
    max-width: 100%; 
    max-height: 50vh;
    display: block;
    margin: 0 auto; 
  }